@import url("https://use.typekit.net/jmk3xov.css");

:root {
  --dark-bg: rgba(15, 15, 15, 0.7);

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

canvas#scene {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  box-sizing: border-box;
  color: white;
  z-index: 99;
  position: absolute;
  margin: 0px auto;
  padding: 0.5rem;
}

header {
  font-size: 0.8rem;
  padding: 0px;
}

h1 {
  background: var(--dark-bg);
  display: inline-block;
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 0.5rem;
  margin: 0px;
}

section {
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
}

section > ul {
  background: var(--dark-bg);
  display: inline-block;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

a {
  color: lightblue;
}
